:root{
    --font:#fff;
    --border:rgb(66, 66, 66);
}
.editModal{
    width: 500px;
    height: 300px;
    background-color: #4e4b4bb9;
    /* border: 2px solid #000; */
    border-radius: 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 30px 1px #000;
}
.editModal>h1{
    font-size: 26px;
}
.editModal>span{
    color: var(--font);
    width: 84%;
    text-align: left;
}
.editModal>input{
    width: 80%;
    height: 15%;
    border-radius: 5px;
    outline: none;
    border: 2px solid var(--font);
    font-size: 16px;
    margin: 10px 0 50px 0px;
    padding: 0 10px;
}
.editModal>input:hover,.editModal>input:focus{
    border: 2px solid #000;
}
.btn{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 15%;
}
.btn>div{
    color: var(--font);
    cursor: pointer;
    background-color: rgb(171 171 171 / 86%);
    border-radius: 5px;
    width: 34%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.856);
}
.btn>div:hover{
  background-color: rgb(171 171 171);
  border: 1px solid #000;
}